<div>
  <main>
    <section>

      {{> title big=true data=name}}

      <div class="mb-2">
        <time>birthdate - {{birthdate}}</time>
      </div>

      <div class="mb-2">
        <address class="mb-0">birthplace - {{birthplace}}</address>
      </div>

      <div class="mb-2">
        <time>deathdate - {{deathdate}}</time>
      </div>

      <div class="mb-2">
        <address class="mb-0">deathplace - {{deathplace}}</address>
      </div>

      <div class="mb-2">nationality - {{nationality}}</div>

      <div>occupation - {{occupation}}</div>

      <hr>

      <div>
        <b>known_for</b>
        <ul class="mt-3">
          {{#each known_for}}
          <li>
            <div>
              {{this}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

      <hr>

      <div>
        <b>education</b>
        <ul class="mt-3">
          {{#each education}}
          <li>
            <div>{{degree}}</div>
            <div>{{field}}</div>
            <div>{{institution}}</div>
            <div><time>{{year}}</time></div>
          </li>
          {{/each}}
        </ul>
      </div>
      <hr>
      <div>
        <b>notable publications</b>
        <ul class="mt-3">
          {{#each notable_publications}}
          <li>
            <div>title - {{title}}</div>
            <div><time>year - {{year}}</time></div>
            <div>publisher - {{publisher}}</div>
          </li>

          {{/each}}
        </ul>
      </div>
      <hr>
      <div>
        <b>partners</b>
        <ul class="mt-3">
          {{#each partners}}
          <li>
            <div>name - {{name}}</div>
            <div>relationship - {{relationship}}</div>
            <div><time>years - {{years}}</time></div>
          </li>

          {{/each}}
        </ul>
      </div>
      <hr>
      <div>
        <b>awards</b>
        <ul class="mt-3">
          {{#each awards}}
          <li>
            <div>title - {{title}}</div>
            <div><time>year - {{year}}</time></div>
            <div>description - {{description}}</div>
          </li>

          {{/each}}
        </ul>
      </div>
      <hr>
      <div>
        <b>influences</b>
        <ul class="mt-3">
          {{#each influences}}
          <li>
            {{this}}
          </li>

          {{/each}}
        </ul>
      </div>
      <hr>
      <div>
        <b>influenced</b>
        <ul class="mt-3">
          {{#each influenced}}
          <li>
            {{this}}
          </li>

          {{/each}}
        </ul>
      </div>
      <hr>
      <div>
        <b>quotes</b>
        <ul class="mt-3">
          {{#each quotes}}
          <li>
            <q>
              {{this}}
            </q>
          </li>

          {{/each}}
        </ul>
      </div>
      <hr>
      <div>
        <b>major discoveries</b>
        <ul class="mt-3">
          {{#each major_discoveries}}
          <li>
            <div>title - {{title}}</div>
            <div>year - <time>{{year}}</time></div>
            <div>description - {{description}}</div>
          </li>

          {{/each}}
        </ul>
      </div>
      <hr>
      <div>
        <b>contributions</b>
        {{#with contributions}}
        <div class="mt-3 mb-2">title - {{title}}</div>
        <div class="mb-2">
          <p class="mb-0">description - {{description}}</p>
        </div>
        <div class="mb-2">year - {{year}}</div>
        <div>field - {{field}}</div>
        {{/with}}
      </div>
    </section>
  </main>
</div>