<div>
    <main>
        <section>

            <h2>{{> text color='warning' name=name noLine=true}}</h2>

            {{>text color='info' name='description' data=description}}

            <div>
                {{#with history}}

                {{>text color='secondary' name='year' data=year}}

                {{>text color='success' name='founder' data=founder}}

                {{/with}}
            </div><br>

            <div>
                <details>
                    <summary>{{>text color='dark' name='types' noLine=true noDiv=true}}</summary>
                    <ul>
                        {{#each types}}
                        <li>
                            <div>
                                {{this}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </details>
            </div><br>

            <div>
                {{#with syntax}}

                <div>{{>text color='danger' name='syntax' noDiv=true}}
                    {{#each variables}}
                    {{this}},
                    {{/each}}
                </div>

                <div>{{>text color='danger' name='functions' noDiv=true}}
                    {{#each functions}}
                    {{this}},
                    {{/each}}
                </div>

                <div>{{>text color='danger' name='conditionals' noDiv=true}}
                    {{#each conditionals}}
                    {{this}},
                    {{/each}}
                </div>

                <div>{{>text color='danger' name='loops' noDiv=true}}
                    {{#each loops}}
                    {{this}},
                    {{/each}}
                </div>

                <div>{{>text color='danger' name='classes' noDiv=true}}
                    {{#each classes}}
                    {{this}},
                    {{/each}}
                </div>

                {{/with}}
            </div><br>

            <div>
                <details>
                    <summary>{{>text color='dark' name='features' noLine=true noDiv=true}}</summary>
                    <br>
                    <ul>
                        {{#each features}}
                        <li>
                            <div>
                                {{this}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </details>
            </div>

            <div>
                <details>
                    <summary>{{>text color='dark' name='libraries' noLine=true noDiv=true}}</summary>
                    <br>
                    <ul>
                        {{#each libraries}}
                        <li>
                            <div>
                                {{this}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </details>
            </div>

            <div>
                <details>
                    <summary>{{>text color='dark' name='tools' noLine=true noDiv=true}}</summary>
                    <br>
                    <ul>
                        {{#each tools}}
                        <li>
                            <div>
                                {{this}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </details>
            </div>

            <br>
            <div>
                {{>text color='info' noLine=true name='community'}}
                <ul>
                    {{#each community}}
                    <li>
                        {{>text color='primary' name='name' data=name}}
                        {{>text color='primary' name='type' data=type}}
                    </li>
                    <br>
                    {{/each}}
                </ul>
            </div>

        </section>
    </main>
</div>