<main>
    <div class="row">

        {{#with formBlock}}
        <section class="mb-5">
            <div class="row">
                <div class="col-8">

                    <h2 class="fs-1 mb-3">{{header}}</h2>

                    <div class="mb-3">{{rating.title}}: {{rating.value}}</div>

                    {{#with actionBlock}}

                    <div class="row">
                        <ul class="nav nav-tabs">

                            {{#each tabs}}
                            <div class="col-4 text-center">
                                <li class="nav-item ms-3 litab">
                                    <a href="#" class="py-2 nav-link {{#if @last}}active{{/if}}">{{text}}</a>
                                </li>
                            </div>
                            {{/each}}

                        </ul>
                    </div>

                    <hr class="my-5">

                    {{#with report}}
                    <div class="card card-body">
                        <div class="fs-5 mb-3">{{title}}</div>
                        <div>
                            {{>link text=button.text href=button.link class='btn btn-secondary'}}
                        </div>
                    </div>
                    {{/with}}

                    {{/with}}

                    <hr class="my-5">

                    {{#with feedbackBlock}}

                    <strong class="fs-2">{{title}}</strong>

                    <div class="mt-3">
                        {{#each buttons}}

                        {{#if isWarning}}
                        <span>{{>link href=href text=text class='btn btn-warning'}}</span>
                        {{/if}}

                        {{#if isSuccess}}
                        <span>{{>link href=href text=text class='btn btn-success mx-3'}}</span>
                        {{/if}}

                        {{#if isDanger}}
                        <span>{{>link href=href text=text class='btn btn-danger'}}</span>
                        {{/if}}

                        {{/each}}
                    </div>

                    {{/with}}

                    <hr class="my-5">

                </div>

                <div class="col-4">
                    {{#with goodsInfo}}

                    <div class="card card-body mb-3">
                        <img width="200px" src="{{photo}}" alt="{{name}}" class="mb-3">
                        <strong class="fs-5">{{name}}</strong>
                    </div>

                    <div class="card card-body">

                        <b class="fs-5 mb-2">{{price}}</b>

                        {{#if inMarket}}
                        <div class="text-success mb-2">Є в наявності</div>
                        {{else}}
                        <div class="text-danger mb-2">Немає в наявності</div>
                        {{/if}}

                        {{#each buttons}}
                        {{#if isPrimary}}<div class="mb-2">{{>link href=link text=text class='btn btn-primary'}}</div>
                        {{/if}}
                        {{#if isSecondary}}<div>{{>link href=link text=text class='btn btn-secondary'}}</div>{{/if}}
                        {{/each}}

                    </div>

                    <div class="card card-body flex-row mt-3 pt-4">
                        {{seller.title}}:
                        <pre> </pre><b>{{seller.value}}</b>
                    </div>

                    {{/with}}
                </div>

            </div>

        </section>
        {{/with}}

        <hr class="mb-5">

        {{>reviewitem}}

        {{>shopaction}}

    </div>
</main>