<main>
    <div class="row">

        {{#with newsBlock}}
        <section class="col-12">
            <div class="row">

                <h2 class="text-center col-12 mb-4">{{title}}</h2>

                {{>shoppost}}

            </div>
        </section>
        {{/with}}

        <hr class="my-5">

        {{#with goodsBlock}}
        <section class='col-12'>

            <nav class="nav nav-tabs mb-5">
                {{#each tabs}}
                <div class="nav-item">
                    <a class='nav-link
                        {{#if isActive}} active{{/if}}
                        {{#if isDisabled}} disabled{{/if}}'>
                        {{text}}
                    </a>
                </div>
                {{/each}}
            </nav>

            {{>shopcard}}

        </section>
        {{/with}}

        <hr class="my-5">

        {{#with subscribe}}
        <section class="col-12">
            <div class="row card text-bg-dark p-3 flex-row">
                <h2 class="col-12">{{header}}</h2>
                <p class="col-9">{{description}}</p>
                <a class="btn btn-primary col-3" href="{{buttons.[1].link}}">{{buttons.[1].text}}</a>
                <a class="btn btn-primary col-3" href="{{buttons.[0].link}}">{{buttons.[0].text}}</a>
            </div>
        </section>
        {{/with}}

        {{>shopaction}}

    </div>
</main>