<main>
    <div class="row">

        <section class="col-12">

            <h2>{{header}}</h2>

            {{#with purchase}}
            <div class="nav nav-tabs mt-5 mb-4">
                {{#each tabs}}

                <div class="nav-item">
                    <a href="#" class="nav-link {{#if @first}}active{{/if}}">{{this}}</a>
                </div>

                {{/each}}
            </div>

            {{#with actionBlock}}
            <div class="row">
                <div class="col-4">
                    <input class="form-control" placeholder="{{input.placeholder}}">
                </div>

                {{#each buttons}}

                {{#if isSuccess}}{{>link text=text href=link class='btn btn-success col-1'}}{{/if}}

                {{#if isOutline}}{{>link text=text href=link class='btn btn-outline-success col-1 mx-3'}}{{/if}}

                {{#if isDanger}}{{>link text=text href=link class='btn btn-outline-danger col-2'}}{{/if}}

                {{/each}}

            </div>
            {{/with}}

            <hr class="my-4">

            <div class="row">
                {{#each itemList}}
                <div class="col-4 mt-3">
                    <div class="mb-2">{{number}}</div>
                    <b>{{status}}</b>
                </div>

                <div class="col-2 mt-3">
                    <div class="mb-2">{{amount.title}}:</div>
                    <b>{{amount.value}}</b>
                </div>

                <div class="col-4">
                    {{#each images}}
                    <img height="100px" src="{{this}}" alt="img" class="me-2">
                    {{/each}}
                </div>


                <div class="col-1 mt-4">
                    <a href="{{button.link}}" class="btn btn-primary">{{button.text}}</a>
                </div>

                <hr class="my-2">
                {{/each}}
            </div>

            {{/with}}
        </section>

        <hr class="my-5">

        {{#with userInfo}}
        <section class="col-12">

            <h3 class='mb-5 fs-2'>{{title}}</h3>

            {{#with profileData}}

            <div class="card card-body mb-4">
                <strong class="fw-semibold fs-3">{{title}}</strong>

                <div class="card card-body my-3">
                    <div class="row">
                        {{#each fullName}}

                        {{#with this}}
                        <div class="col-4">
                            <div class="mb-2">{{title}}</div>
                            <b>{{value}}</b>
                        </div>
                        {{/with}}
                        {{/each}}
                    </div>
                </div>

                <div class="card card-body">
                    <div class="row">
                        {{#each otherInfo}}

                        {{#with this}}
                        <div class="col-4">
                            <div class="mb-2">{{title}}</div>
                            <b>{{value}}</b>
                        </div>
                        {{/with}}
                        {{/each}}
                    </div>
                </div>

                {{/with}}

                <div class="card card-body flex-row mt-3">

                    {{#each buttons}}
                    {{#if isPrimary}}<div class="col-4">{{>link href=link text=text class='btn
                        btn-primary'}}</div>
                    {{/if}}

                    {{#if isSecondary}}<div class="col-4">{{>link href=link text=text class='btn
                        btn-outline-secondary'}}
                    </div>{{/if}}

                    {{#if isDanger}}<div class="col-4">{{>link href=link text=text class='btn btn-outline-danger'}}
                    </div>
                    {{/if}}
                    {{/each}}

                </div>
            </div>

            {{#with recipients}}
            <div class="card card-body mb-4">
                <strong class="fw-semibold fs-3 mb-3">{{title}}</strong>

                <div class="row">
                    {{#each users}}
                    <div class="col-4">
                        <div class="card card-body mb-3">
                            <div class="mb-2">{{name}}</div>
                            <b class="mb-2">{{phone}}</b>
                            {{#with button}}
                            <div>
                                {{>link text=text href=link class='btn btn-primary'}}
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
            {{/with}}

            {{#with contacts}}
            <div class="card card-body">

                <strong class="fw-semibold fs-3 mb-3">{{title}}</strong>

                <div class="row">
                    {{#with contactData}}
                    <div class="col-4">
                        <div class="card card-body">

                            {{#with phone}}
                            <div class="mb-2">{{title}}</div>
                            <b class="mb-2">{{value}}</b>
                            {{/with}}

                            {{#with ../buttons.[1]}}
                            <div>
                                <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-body">

                            {{#with additionalPhone}}
                            <div class="mb-2">{{title}}</div>
                            <b class="mb-2">{{value}}</b>
                            {{/with}}

                            {{#with ../buttons.[2]}}
                            <div>
                                <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-body">

                            {{#with email}}
                            <div class="mb-2">{{title}}</div>
                            <b class="mb-2">{{value}}</b>
                            {{/with}}

                            {{#with ../buttons.[0]}}
                            <div>
                                <a href="{{link}}" class="btn btn-outline-danger">{{text}}</a>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>

            </div>
            {{/with}}

        </section>
        {{/with}}

    </div>
</main>