<div>
  <main>
    {{#with web}}
    <section>
      {{> title line=false big=true data='languages'}}
      <div>
        {{#each languages}}
        <ul>
          <li>
            <div>name - {{name}}</div>
            <div>version - {{version}}</div>
            <div>
              <p>description - {{description}}</p>
            </div>

            {{#if elements}}
            <hr>
            <div>
              elemenets
              <ul>
                {{#each elements}}
                <li class='mt-3'>
                  <div class="mb-2">name - {{name}}</div>

                  <div>
                    <p>description - {{description}}</p>
                  </div>

                  <div>
                    {{#each attributes}}
                    <ul>
                      <li class="mb-2">

                        <div>name - {{name}}</div>

                        <div>description - {{description}}</div>

                      </li>

                    </ul>
                    {{/each}}
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
            {{/if}}

            {{#if properties}}
            <hr>
            <div>
              properties
              {{#each properties}}
              <ul>
                <li class="mt-3">

                  <div class="mb-2">name - {{name}}</div>

                  <div>
                    <p>description - {{description}}</p>
                  </div>

                  <div>
                    <ul>
                      {{#each values}}
                      <li class="mb-2">

                        <div>color - {{value}}</div>

                        <div>description - {{description}}</div>

                      </li>
                      {{/each}}
                    </ul>
                  </div>

                </li>
              </ul>
              {{/each}}
            </div>
            {{/if}}

            {{#if functions}}
            <hr>
            <div>
              <ul>
                {{#each functions}}
                <li class="mb-3">

                  <div><code>name - {{name}}</code></div>

                  <div class="mt-2">
                    <p>description - {{description}}</p>
                  </div>

                  <div>
                    {{#each parameters}}
                    <ul>
                      <li class="mb-2">

                        <div>name - {{name}}</div>

                        <div>type - {{type}}</div>

                        <div>description - {{description}}</div>
                      </li>
                    </ul>
                    {{/each}}
                  </div>

                </li>
                {{/each}}
              </ul>
            </div>
            {{/if}}

          </li>
          <hr class="my-5">
        </ul>
        {{/each}}
      </div>
    </section>
    {{/with}}
  </main>
</div>