<div>
    {{#with main}}
    <main>

        <section>

            {{>title big=true data='Works history'}}

            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>{{position}}</div>

                        <br>

                        <div>
                            {{#unless company.url}}
                            <b>{{company.name}}</b>
                            {{else}}
                            {{> link blank=true href=company.url text=company.name noLine=true}}
                            {{/unless}}
                        </div>

                        <br>

                        <em>
                            {{duration.from}} -

                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (зараз працюю)
                            {{/if}}
                        </em>

                        <br>
                        <br>

                        <div><strong>Projects ({{projectAmount}})</strong></div>

                        <br>

                        <ul>
                            {{#each projects}}
                            <li>
                                <div>{{> link blank=true href=url text=name noLine=true}}</div>

                                <br>

                                <div>
                                    {{about}}
                                </div>

                                <br>

                                <div>
                                    <em>Project stacks ({{stackAmount}})</em>
                                </div>

                                <br>

                                {{#each stacks}}
                                <div>
                                    <ul>
                                        <li>
                                            {{name}}
                                        </li>
                                    </ul>
                                </div>
                                {{/each}}

                                <br>

                                <div>
                                    <em>Project rewards</em>
                                </div>

                                <br>

                                {{#each awards}}
                                <div>
                                    <ul>
                                        <li>
                                            {{name}}
                                        </li>
                                    </ul>
                                </div>
                                {{/each}}

                            </li>
                            <br>
                            <br>
                            {{/each}}
                        </ul>

                    </li>
                    <br>
                    <br>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>