<hr class="my-5">

{{#with subscribe}}
<section class="col-12">
    <div class="row card text-bg-dark p-5 flex-row">
        <h2 class="col-12 mb-3">{{header}}</h2>
        <p class="col-10 mb-4">{{description}}</p>
        <a class="btn btn-primary col-2 pt-2" href="{{buttons.[1].link}}">{{buttons.[1].text}}</a>
        <a class="btn btn-primary col-2" href="{{buttons.[0].link}}">{{buttons.[0].text}}</a>
    </div>
</section>
{{/with}}